<div class="col-lg-12 fiche" id="lines">
    <!--<form ng-submit="updateLine()" id="update_line" method="post"></form>-->
    <table class="table table-bordered" id="order_lines">
        <thead class="header_lines">
        <th>S.N.</th>
        <th>Ref.</th>
        <th>Label</th>
        <th>Tva</th>
        <th>Qty</th>
        <th>Unite</th>
        <th>Prix HT</th>
        <th>Total HT</th>
        <th ng-hide="order.fk_statut==1"></th>
        </thead>
        <tbody ng-switch="lines.length">
        <tr id="no_record" ng-show="order.lines.length==0"><th colspan="9"  style="text-align: center" >Votre commande est vide....</th></tr>
        <tr ng-repeat="line in order.lines">
            <td>{{$index+1}}</td>
            <td class='line-ref'>{{line.product_ref}}</td>
            <td>{{line.label}}</td>
            <td class='line-tva'>{{line.tva}}</td>
            <td class='line-qty'><editable text="line.qty"></editable></td>
            <td class='line-unity'>{{line.unity}}</td>
            <td class='line-prix_ht'>{{line.prix_ht}}</td>
            <td>{{(line.prix_ht* getQty(line)).toFixed(2)}}</td>
            <td class='control-buttons' ng-hide="editMode||order.fk_statut==1">
                <i class='glyphicon glyphicon-edit edit-line' ng-click="editMode = true"></i>
                <i class='glyphicon glyphicon-trash delete-line' ng-click="deleteLine($index)"></i>
            </td>
            <td class='control-buttons' ng-show="editMode">
                <i class='glyphicon glyphicon-ok update-line' ng-click="updateLine(line,order.id)"></i>
                <i class='glyphicon glyphicon-remove cancel-line' ng-click="editMode = false"></i>
            </td>
        </tr>
        </tbody>
    </table>
</div>
