<div class="span12 fiche" id="lines">
    <form action='@routes.Orders.updateLine' id="update_line" method="post"></form>
    <table class="table table-bordered" id="order_lines">
        <thead class="header_lines">
        <th>S.N.</th>
        <th>Ref.</th>
        <th>Label</th>
        <th>Tva</th>
        <th>Qty</th>
        <th>Unite</th>
        <th>Prix HT</th>
        <th>Total HT</th>
        </thead>
        <tbody>
        <tr id="no_record"><th colspan="8"  style="text-align: center" >No records</th></tr>
        <tr ng-repeat="line in order.lines">
            <td>{{index+1}}</td><td class='line-ref'>{{line.product_ref}}</td><td>{{line.label}}</td>
            <td class='line-tva'>{{line.tva}}</td><td class='line-qty'>{{line.qty}}</td>
            <td class='line-unity'>{{line.unity}}</td>
            <td class='line-prix_ht'>{{line.prix_ht}}</td><td>{{line.prix_ht*line.qty}}</td>
            <th class='control-buttons' ><button  class='btn editline'><i class='icon-edit'></i></button> <button class='btn deleteline'><i class='icon-trash'></i> </button></th>
        </tr>
        <input type="hidden" name="order_id" form="update_line"  value="@order.id">
        </tbody>
    </table>
</div>