<div>
  <div class="col-lg-12">
      <div class="alert alert-success fade in">
      La commande {{ order.ref }} a été envoyé avec succès.
      </div>
  </div>
  <div class="col-lg-12 order-summary">
    <table id="order_totals" class="order">
        <tr><td class="ref">Ref.</td><td>{{order.ref}}</td></tr>
        <tr><td class="client">Client:</td><td>{{order.customer.name}}</td></tr>
        <tr><td class="date">Date:</td><td>{{order.order_date}}</td></tr>
        <tr><td class="qty">Qty:</td><td id="total_qty">{{total_kg}} KG {{total_piece}} Piece</td></tr>
        <tr><td class="total_ht">Total HT:</td><td>{{order.total_ht}}</td></tr>
        <tr><td class="total_ttc">Total TTC:</td><td>{{order.total_ttc}}</td></tr>
    </table>
  </div>
</div>