html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

.row-fluid {
    height: inherit;
}

.fill {
    min-height: 100%;
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
}
.sidebar2 {
    height: inherit;
    background-color: rgb(230, 230, 230);
}

.main {
    height: inherit;
}


.sidebar {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-top: 60px;
    margin-bottom: -60px;
}
div.products-list {
    margin-top: 60px;
    height: inherit;
    max-width: 80%;
}

div.container-list-products-table {
    max-height: 80%;
    overflow: auto;
}
.list-products-header{
    margin-top: 60px;
    max-width: 80%;
}
list-products-header table{
    width: 100%;
}
table.list-products {
    max-height: 80%;
    width: 100%;
}
table.list-products tbody {
    /*display: block;*/
    /*width: 100%;*/
    /*max-height: 500px;*/
    /*overflow: auto;*/
}

/*.list-products thead {*/
    /*display: block;*/
/*}*/


table.order{

border-collapse : collapse;
background-color:  transparent;
width: 100%;
border : 1px solid #a2abc0;
}
table.order td{
    border : 1px solid #a2abc0;
    font-weight: bold;
}

/*table.order .qty, .ref, .client, .date, .total_ht, .total_ttc{*/
    /*width: 25%;*/

/*}*/
table.order th {
border : 1px solid #a2abc0;
text-align : center;
}
.list-orders {
    width: 95%;
    margin-top: 60px;
}
.order-summary {
    width: 95%;
    margin-top: 60px;
}
.fiche {
    width: 95%;
    max-height: 50%;
    overflow: auto;
}
.order-controls {
    width: 95%;
    padding-top: 20px;
}

/*[class="span10 main"] {*/
  /*background-color: #eef0f0;*/
  /*margin-bottom: 10px;*/
  /*border-radius: 5px 5px 5px 5px;*/
  /*box-shadow: -2px 2px 5px 2px rgba(0, 0, 0, 0.2);*/



    /*line-height: 80px;*/
 /*text-align: center;*/
/*}*/

/*[class="span2 sidebar"]{*/
 /*background-color: #eef0f0;*/
 /*line-height: 100px;*/
 /*text-align: center;*/
 /*box-shadow: -2px 2px 5px 2px rgba(0, 0, 0, 0.2);*/

/*}*/

/*[class="smallInput"]{*/
    /*width: 30px;*/
/*}*/

/*[class="table table-bordered"]{*/
    /*background-color: WhiteSmoke;*/
/*}*/

/*[class= "header_lines"]{*/
/*background-color: #a2abc0;*/
    /*text-align: center;*/
/*}*/

/*[class= "add_line_header"]{*/
    /*background-color: #a2abc0;*/
    /*height: 25px;*/
/*}*/

/*[class= "add_line"] {*/
    /*box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);*/

/*}*/
/*#order_controls {*/
    /*margin: 5px;*/
    /*text-align: right;*/
/*}*/

/*#add_line_form {*/
/*padding: 10px;*/
    /*background-color: WhiteSmoke;*/
/*}*/

