html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}



/* Set the fixed height of the footer here */
#footer {
    height: 60px;
    background-color: #777777;
}

div.sidebar {
    margin-top: 50px;
    background-color: ghostwhite;
}

div.categories hr {
    margin: 0;
}

div.categories p {
    margin-left: 20px;
    font-weight: bold;
    color: #563d7c;
}

div.manufactures{
    margin-top: 20px;
    margin-bottom: 20px;

}
div.scrollable {
    height: 200px;
    overflow: auto;
}

div.manufactures .header {
    margin-left: 20px;
    font-weight: bold;
    color: #563d7c;
}

div.manufactures label {
    color: #716b7a;
}

div.manufactures hr {
    margin: 0 0 0 10px;
}

div.active-order {
    position: absolute;
    right: 0;
    top: 0;
}

a.product-image, a.product-image:hover,a.product-image :visited {
    text-decoration: none;
    color: #563d7c;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}



/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
    padding: 60px 15px 0;
}
.container .credit {
    margin: 20px 0;
}

code {
    font-size: 80%;
}


/* Catalogue style
---------------------------------------------------- */

.page-totals {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: right;
}

div.products-list {
    margin-top: 60px;
    /*height: 80%;*/
    /*max-height: 80%;*/
    max-width: 100%;
}

/*div.container-list-products-table {*/
/*max-height: 80%;*/
/*overflow: auto;*/
/*}*/
.list-products-header{
    margin-top: 60px;
    max-width: 80%;
}
list-products-header table{
    width: 100%;
}
table.list-products {
    height: 200px;
    /*max-height: 80%;*/
    width: 100%;
}
table.list-products tbody {
    /*display: block;*/
    /*width: 100%;*/
    /*max-height: 500px;*/
    /*overflow: auto;*/
}

table.list-products .photo {
    margin-right: 10px;
}
/*.list-products thead {*/
/*display: block;*/
/*}*/


/* Order section
----------------------------------------------*/

table.order{

    border-collapse : collapse;
    background-color:  transparent;
    width: 100%;
    border : 1px solid #a2abc0;
}
table.order td{
    border : 1px solid #a2abc0;
    font-weight: bold;
}

/*table.order .qty, .ref, .client, .date, .total_ht, .total_ttc{*/
/*width: 25%;*/

/*}*/
table.order th {
    border : 1px solid #a2abc0;
    text-align : center;
}

div.order-events > table{
    border-collapse : collapse;
    background-color:  transparent;
    /*width: 100%;*/
    border : 1px solid #a2abc0;
    font-size: 95%;
}

div.order-events > td {
    border-collapse : collapse;
    background-color:  transparent;
    /*width: 100%;*/
    border : 1px solid #a2abc0;
    font-size: 95%;
}
div.order-events p {
    font-weight: bold;
}
.list-orders {
    width: 95%;
    margin-top: 60px;
}
.order-summary {
    /*width: 95%;*/
    margin-top: 60px;
}
.fiche {
    margin-top: 10px;
    /*width: 95%;*/
    max-height: 50%;
    overflow: auto;
    padding: 0;
}
.order-controls {
    /*width: 95%;*/
    padding-top: 20px;
    padding-bottom: 20px;
}

div.list-suppliers {
    width : 95%;
    margin-top: 60px;
}

div.products-upload {
    width: 95%;
    margin-top: 60px;
}

div.create-customer {
    margin-top: 60px;
    max-height: 80%;
    overflow: auto;
}

i.edit-line, .delete-line, .update-line, .cancel-line {
    cursor: pointer;
}

input.line-qty {
    width: 3em;
}


/* Docs sidebar
-------------------------------------------------- */


/* All levels of nav */
.sidebar .nav > li > a {
    display: block;
    color: #716b7a;
    padding: 5px 20px;
}
.sidebar .nav > li > a:hover,
.sidebar .nav > li > a:focus {
    text-decoration: none;
    background-color: #e5e3e9;
    border-right: 1px solid #dbd8e0;
}
.sidebar .nav > .active > a,
.sidebar .nav > .active:hover > a,
.sidebar .nav > .active:focus > a {
    font-weight: bold;
    color: #563d7c;
    background-color: transparent;
    border-right: 1px solid #563d7c;
}

/* second level nav */
.sidebar .nav .nav > li > a {
    padding-top:    3px;
    padding-bottom: 3px;
    padding-left: 30px;
    font-size: 90%;
}

.manufactures .nav > li > a {
    font-size: 90%;
}

#all-products{
    font-weight: bold;
}