<div class="manufactures">
    <p class="header">Marque</p>
    <hr>
    <div class="scrollabe">
    <ul class="nav nav-stacked manufacturers">
        <li ng-repeat="m in marques_first">
            <!--<a href="#" >{{marque}}</a>-->
            <div class="checkbox">
             <label>
               <input type="checkbox" name="manufacturer" ng-model="marque_selection.marque[m]" id="{{m}}" ng-change="manufacturerFilter(m)"> <span>{{m}}</span> <span>({{ numberOfProductsByManufacture[m]}})</span>
             </label>
            </div>
        </li>
        <li class="rest" ng-hide="rest"><a href="#rest" data-toggle="collapse" ng-click="plus()">Plus <i class="glyphicon glyphicon-chevron-down"></i></a></li>
        <li class="rest" ng-show="rest"><a href="#rest" data-toggle="collapse" ng-click="minus()">Moins <i class="glyphicon glyphicon-chevron-up"></i></a></li>
    </ul>
    <ul class="nav nav-stacked manufactures collapse" id="rest">
        <li ng-repeat="m2 in marques_rest">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="manufacturer" ng-model="marque_selection.marque[m2]" id="{{m2}}" ng-change="manufacturerFilter(m2)"> <span>{{m2}}</span> <span>({{ numberOfProductsByManufacture[m2]}})</span>
                </label>
            </div>
        </li>
    </ul>
    </div>
</div>