<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-primary">
                 <div class="panel-heading"><h4 class="panel-title>"> Tiers Info</h4></div>
                  <div class="panel-body">
                  <table class="table">
                      <tr>
                          <td>Type</td>
                          <td ng-show="company.supplier">Fournisseur</td>
                          <td ng-show="company.prospect">Prospect</td>
                          <td ng-hide="company.prospect || company.supplier">Client</td>
                      </tr>
                      <tr>
                     <td>Nom</td>
                     <td>
                           <span ng-hide="edit2Mode.customerInfo">{{ company.name }}</span>
                           <input ng-show="edit2Mode.customerInfo" type="text" ng-model="company.name" required>
                     </td>
                     </tr>
                     <tr>
                     <td>Address:</td>
                         <td>
                             <span ng-hide="edit2Mode.customerInfo">{{ company.address.address }}</span>
                             <input ng-show="edit2Mode.customerInfo" type="text" ng-model="company.address.address">
                         </td>
                     </tr>
                      <tr>
                      <td>Ville:</td>
                          <td>
                              <span ng-hide="edit2Mode.customerInfo">{{ company.address.city }}</span>
                              <input ng-show="edit2Mode.customerInfo" type="text" ng-model="company.address.city">
                          </td>
                      </tr>
                      <tr>
                          <td>Code Postal:</td>
                          <td>
                              <span ng-hide="edit2Mode.customerInfo">{{ company.address.zip }}</span>
                              <input ng-show="edit2Mode.customerInfo" type="text" ng-model="company.address.zip">
                          </td>
                      </tr>
                     <tr>
                     <td>Tel:</td>
                         <td>
                             <span ng-hide="edit2Mode.customerInfo">{{ company.tel }}</span>
                             <input ng-show="edit2Mode.customerInfo" type="text" ng-model="company.tel">
                         </td>
                     </tr>
                     <tr>
                     <td>Email:</td>
                         <td>
                             <span ng-hide="edit2Mode.customerInfo">{{ company.email }}</span>
                             <input ng-show="edit2Mode.customerInfo" type="text" ng-model="company.email" required>
                         </td>
                    </tr>
                  </table>
                      <button ng-hide="edit2Mode.customerInfo" class="btn btn-default" ng-click="edit()">Modifier</button>
                      <button ng-show="edit2Mode.customerInfo" class="btn btn-danger" ng-click="submit()">Envoyer</button>
                      <button ng-show="edit2Mode.customerInfo" class="btn btn-primary" ng-click="cancel()">Annuler</button>
                  </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div ng-hide="company.supplier||company.prospect" class="panel panel-primary">
                    <div class="panel-heading"><h4 class="panel-title">Remise Info</h4></div>
                    <div class="panel-body">
                     <table class="table">
                         <tr><th>ID Fournisseur</th><th>Nom Fournisseur</th><th>Remise %</th></tr>
                         <tr ng-repeat="supplier in suppliers">
                             <td>{{ supplier.id }}</td><td>{{ supplier.name }}</td>
                             <td>
                                 <editable-discount></editable-discount>
                             </td>
                             <td ng-hide="editMode">
                                 <!--<button ng-show="actualDiscountsBySupplier[supplier.id].discount" class="btn btn-default" ng-click="editDiscount()">Modifier</button>-->
                                 <!--<button ng-hide="actualDiscountsBySupplier[supplier.id].discount" class="btn btn-default" ng-click="editDiscount()">Créer</button>-->
                                 <i class='glyphicon glyphicon-edit' ng-click="editMode = true"></i>
                             </td>
                             <td ng-show="editMode">
                                 <i ng-show="actualDiscountsBySupplier[supplier.id].discount" class='glyphicon glyphicon-ok' ng-click="updateDiscount(actualDiscountsBySupplier[supplier.id].id, discount)"></i>
                                 <i ng-hide="actualDiscountsBySupplier[supplier.id].discount" class='glyphicon glyphicon-ok' ng-click="createDiscount(company.id,supplier.id, discount)"></i>
                                 <i class='glyphicon glyphicon-remove' ng-click="editMode = false"></i>
                             </td>
                         </tr>
                     </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>