@(user : Users)
@main("Catalogue", user){
    <script src="@routes.Assets.at("javascripts/controllers.js")" type="text/javascript"></script>
    <div class="span12 products-list" ng-app>
      <div ng-controller="GetProductsCtrl">
        <div><input type="text" class="span2 search-query" ng-model="query" ng-change="search()"><hr></div>
        <div class="container-list-products-table">
            <table class="list-products">
                @*<thead>*@
                    @*<tr>*@
                        @*<th></th><th>Ref.</th><th>Label</th><th>TVA</th><th>Prix</th><th></th>*@
                    @*</tr>*@
                @*</thead>*@
                <tbody>
                    <tr ng-repeat="product in pagedItems[currentPage]">
                        <td><img src=""></td>
                        <td>{{product._2}}</td>
                        <td>{{product._3}}</td>
                        <td>{{product._5}}</td>
                        <td><button class="btn-small" ng-click="addProduct()"><i class="icon-shopping-cart"></i></button> </td>
                    </tr>
                </tbody>
                <tfoot>
                    <td colspan="6">
                        <div class="pagination pull-right">
                            <p>{{filteredItems.length}} Product(s)
                               {{currentPage +1}} sur {{pagedItems.length}}</p>
                            <ul>
                                <li ng-class="{disabled: currentPage == 0}">
                                    <a href ng-click="prevPage()">« Prev</a>
                                </li>
                                @*<li ng-repeat="n in range(products.length)"*@
                                @*ng-class="{active: n == currentPage}"*@
                                @*ng-click="setPage()">*@
                                    @*<a href ng-bind="n + 1">1</a>*@
                                @*</li>*@
                                <li ng-class="{disabled: currentPage == pagedItems.length - 1 || pagedItems.length <= itemsPerPage}">
                                    <a href ng-click="nextPage()">Next »</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tfoot>
            </table>
        </div>
              <!-- Modal Choose an order -->
          <div id="orderChoice" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  <h2 id="myModalLabel">Choisisez une commande...</h2>
              </div>
              <div class="modal-body">
                  <ul>
                      <li ng-repeat="order in orders">{{order.ref}}&nbsp{{order.date_creation}}&nbsp{{order.total_ht}}</li>
                  </ul>
              </div>
              <div class="modal-footer">
                  <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                  <button class="btn btn-primary">Save changes</button>
              </div>
          </div>

      </div> @*close ng-controller*@
    </div>   @*close span12 *@

    <!-- Modal Alert There is no created orders yet -->
    <div id="addAlertModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h2 id="myModalLabel">Attention, there is no created order yet...</h2>
        </div>
        <div class="modal-body">
            <p>You can't add a product because you have not yet created any orders. To create an order, click "Create order" button
            or use menu "Order/Create Order" then you can add products to any created order.
            </p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <a href="@routes.Orders.showCreateOrderForm" class="btn btn-primary">Create an Order</a>
        </div>
    </div>
    @*TODO Add custom search et pagination, total found in the bottom*@
    @*TODO  Realize add the product to the order functionality*@

}