@(user: Users)
@main("Catalogue", user) {
    @*<script src="@routes.Assets.at("javascripts/controllers.js")" type="text/javascript"></script>*@
  <div class="row" ng-init="customer_id=@user.customer_id.getOrElse(0)">
    <div ng-controller="CatalogCtrl">
        <div class="row">
            @*<div class="col-lg-4"></div>*@
            @*<div class="col-lg-4"></div>*@
            <div ng-hide="user.admin==1" class="col-lg-3 active-order"><active-order></active-order></div>
        </div>
     <div class="col-lg-3">
        <div class="sidebar">
            <block-categories with-id="false"></block-categories>
            <div block-manufactures></div>
        </div>
     </div>
     <div class="col-lg-9 products-list" >
        <div>
            <div class="row">
                <div class="col-lg-4">
                  <div class="input-group">
                    <span class="input-group-addon input-small"><i class="glyphicon glyphicon-search"></i></span>
                    <input type="text" class="form-control input-small" ng-model="query" ng-change="search(query);uncheckAllMArques()">
                  </div>

                </div>
            </div>
            <div><hr/></div>
            @*<div><input type="text" class="form-control" ng-model="query" ng-change="search()"><hr></div>*@
            <div class="row">
                <div class="container-list-products-table">
                    <table class="list-products">
                        <tr ng-repeat="product in pagedItems[currentPage]" id="{{product.id}}">
                            <td><a class="product-image" ng-show="product.image_url" href="{{ product.image_url }}" data-lightbox="image-1" title="{{ product.label }}"><i class="glyphicon glyphicon-camera photo"></i></a><a ng-hide="product.image_url" href="/assets/images/no_image.gif" data-lightbox="image-1" title="{{ product.label }}"><i class="glyphicon glyphicon-camera photo"></i></a> </td>
                            <td>{{product.reference}}</td>
                            <td>{{product.label}}</td>
                            <td>{{product.price}}</td>
                            <td>
                                <button ng-hide="user.admin==1" class="btn-small" ng-click="addProductNotAdmin(product)"><i class="glyphicon glyphicon-shopping-cart"></i></button>
                                <button ng-show="user.admin==1" class="btn-small" ng-click="addProduct(product)"><i class="glyphicon glyphicon-shopping-cart"></i></button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6"><div class="page-totals"><p>{{filteredItems.length}} Product(s) {{currentPage +1}} sur {{pagedItems.length}}</p></div></div>
                <div class="col-lg-6">
                    <ul class="pager">
                        <li ng-class="{disabled: currentPage == 0}">
                            <a href ng-click="prevPage()">« Prev</a>
                        </li>
                        <li ng-class="{disabled: currentPage == pagedItems.length - 1 || pagedItems.length <= itemsPerPage}">
                            <a href ng-click="nextPage()">Next »</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
     </div> <!-- product-list-->
  <!-- </div> <!-- div CatalogCtrl -->
  </div> <!-- row-->

    <!-- Modal Choose an order -->
    <div id="orderChoice" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Choisisez une commande...</h3>
        </div>

          <form class="form-inline" name="addProductFromCatalog" ng-submit="insertProduct(addProductFromCatalog)" novalidate>
        <div class="modal-body">
            <div class="row">
            <div class="col-lg-6">
            <select class="form-control" name="selectOrder" class="select-order" ng-model="order" ng-options="o.ref+' -> '+o.order_date+' -> '+customers[o.fk_soc].nom for o in orders"  required>
                @*<option ng-repeat="order in orders" value="{{order.id}}">{{order.ref}} -> {{order.order_date}}</option>*@
            </select>
            </div>
            <div class="col-lg-3">
            <input class="form-control" type="text" name="qty"  ng-model="current_order_product_qty" ng-pattern="/^[0-9]*[.]?[0-9]+$/" placeholder="0.00" required>
            </div>
            <div class="col-lg-3">
            <input type="hidden" value="{{order.fk_soc}}" ng-model="current_order_client_id">
            </div>
            </div>
        </div>

        <div class="modal-footer">
            <button ng-disabled="addProductFromCatalog.selectOrder.$invalid || addProductFromCatalog.qty.$invalid || addProductFromCatalog.qty.$pristine " class="btn btn-primary" type="submit">Ajouter</button>
            <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Anuler</button>
        </div>
          </form>
       </div>
      </div>
     </div>
    <!-- Modal Alert There is no created orders yet -->
    <div id="addAlertModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 id="myModalLabel">Attention, il n'y a pas de commandes en cours...</h4>
                </div>
                <div class="modal-body">
                    <p>Vous ne pouvez pas rajouter un produit car vous n'avez pas encore créé la commande ou tout les commandes sont validées.</p>
                        <p>Pour créer la commande, clickez sur "Nouvelle commande" button
                        ou utilisez le menu "Commandes/Nouvelle commande" alors vous serez en mesure d'ajouter des produits à une commande en cours.</p>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Fermer</button>
                    <a href="#new-order" class="btn btn-primary" ng-click="newOrder()">Nouvelle Commande</a>
                </div>
            </div>
        </div>
    </div>
    <add-product-modal></add-product-modal>
  </div> <!-- catalog controller-->
}{

}