@(form : Form[(Int,String,String)], user : Users)
@*TODO We must verify is a user administrator and if no, choose automaticaly client as user*@
@import helper.twitterBootstrap._
@main("Create order", user){
@helper.form(routes.Orders.createOrder, args = 'class -> "form-horizontal") {

<!-- Modal -->
<script src="@routes.Assets.at("javascripts/customers.min.js")" type="text/javascript"></script>
        <script>
            $(function(){
            $('#myModal').modal('toggle');
            $('#datepicker').datepicker()
            });
        </script>
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Create Order</h3>
    </div>

    <div class="modal-body">
        <div class="control-group">
            <div class="controls">
                <select name="societe" id="societe"></select>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
        <div class="input-append date" id="datepicker" data-date="2012-02-22" data-date-format="yyyy-mm-dd">
            <input  type="text" name="order_date" id="order_date" value="2012-02-22" readonly>
            <!--@helper.inputText(form("order_date"), 'value -> "2012-02-22", 'readonly -> "readonly")-->
            <span class="add-on"><i class="icon-th"></i></span>
        </div>
                </div>
            </div>

        <div class="control-group">
            <div class="controls">
                @helper.inputText(form("note"),'_label -> "Note")
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <a href="@routes.Application.index" class="btn"  aria-hidden="true">Cancel</a>
      <!--  <button class="btn btn-primary">Create</button>  -->
        <input type="submit" class="btn primary" value="Create ">
    </div>
</div>
        }
        }