@(order : Order, user : Users, form_add_line : Form[(String,Int,String,Int)], form_update_line : Form[(Int, String, Int)])
@import helper.twitterBootstrap._
@import controllers.routes.javascript._


@main("New Order", user){
@form_add_line.globalError.map { error =>
<p class="error" xmlns="http://www.w3.org/1999/html">
    @error.message
</p>
}

@form_update_line.globalError.map { error =>
        <p class="error">
            @error.message
        </p>
}
<script src="@routes.Application.javascriptRoutes" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/orderlines.min.js")" type="text/javascript"></script>
<input type="hidden" name="customer_id" id="customer_id" value="@order.fk_soc">
@*<div class="row-fluid">*@
    <div class="span12 order-summary">
        <table id="order_totals" class="order">
            <tr>
                <td class="ref">Ref.</td><td>@order.ref</td>
            </tr>
            <tr>
                <td class="client">Client:</td><td>@models.CustomerDoll.getById(order.fk_soc).nom</td>
            </tr>
            <tr>
                <td class="date">Date:</td><td>@order.order_date</td>
            </tr>
            <tr>
                <td class="qty">Qty:</td><td id="total_qty"></td>
            </tr>
            <tr>
                <td class="total_ht">Total HT:</td><td>@order.total_ht</td>
            </tr>
            <tr>
                <td class="total_ttc">Total TTC:</td><td>@order.total_ttc</td>
            </tr>
        </table>
    </div>
@*</div>*@
@*<div class="row-fluid">*@
    <div class="span12 fiche" id="lines">

        <form action='@routes.Orders.updateLine' id="update_line" method="post"></form>
            <table class="table table-bordered" id="order_lines">
                <thead class="header_lines">
                    <th>S.N.</th>
                    <th>Ref.</th>
                    <th>Label</th>
                    <th>Tva</th>
                    <th>Qty</th>
                    <th>Unite</th>
                    <th>Prix HT</th>
                    <th>Total HT</th>
                </thead>
                <tr id="no_record"><th colspan="8"  style="text-align: center" >No records</th></tr>
                <input type="hidden" name="order_id" form="update_line"  value="@order.id">
        </table>
        @*</form>*@
    </div>
@*</div>*@
   <div class="span12 order-controls">
@helper.form(routes.Orders.addLine, args = 'class -> "form-inline") {

<script src="@routes.Assets.at("javascripts/lst.js")" type="text/javascript"></script>
    <div class="add_line">
    <div class="add_line_header"></div>
    <div id="add_line_form">

    <label for="product"> Réf. ou Libellé
        <input type="text" class="autocomplete" name="product" id="product" required placeholder="Tapez votre recherche">
    </label>
    <label for="product_qty"> Qty
        <input type="text" name="product_qty" id="product_qty" class="input-mini" required pattern="\d+(\.\d*)?" placeholder="0.00">
     </label>
    <input type="hidden" name="order_id" id="order_id" value="@order.id">
    <input type="hidden" name="product_id" id="product_id">
    <input type="submit" class="btn primary" value="Ajouter">
</div>
<table id="search_result"></table>
</div>
@*Order controls   *@
    @*<div id="order_controls">*@
        @*<a class="btn" href="">Valider</a>*@
        @*<a class="btn" href="">Envoyer</a>*@
        @*<a class="btn" href="">Supprimer</a>*@
    @*</div>*@
</div>
    <div class="span12 order-controls">
        @if(order.fk_statut == 0){
        <a class="btn" href="">Valider</a>
        <button class="btn" disabled>Envoyer</button>
        <a class="btn" href="">Supprimer</a>
        }
        @if(order.fk_statut == 1){
        <a class="btn" href="">Modifier</a>
        <a class="btn" href="">Envoyer</a>
        <a class="btn" href="">Supprimer</a>
        }
    </div>

}
} {<div></div>}