@(user : Users)
@main("List des commandes", user){
@*<script src="@routes.Assets.at("javascripts/orders-list.min.js")" type="text/javascript"></script>*@
<div class="span12 list-orders" ng-controller="ListOrdersCtrl">
    <table id="list_orders" class="table table-striped">
    <tr>
        <th>Référence</th><th>Date</th><th ng-hide="user.admin!=1">Société</th><th>Total HT</th><th>Total TTC</th><th>État</th>
    </tr>
        <tr ng-repeat="order in orders">
            <td><a href="/order{{ order.id }}">{{ order.ref }}</a></td>
            <td>{{ order.order_date }}</td>
            <td ng-hide="user.admin!=1">{{ customers[order.fk_soc].nom }}</td>
            <td>{{ order.total_ht }}</td>
            <td>{{ order.total_ttc }}</td>
            <td ng-hide="order.fk_statut ==0">Validé</td>
            <td ng-show="order.fk_statut ==0">Brouillon</td>
        </tr>
</table>
</div>
}  {<div></div>}